<header class="header modal-header navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social Chat</a>
      <a class="navbar-brand" href="/register">Sign Up</a>
    </div>

  </div><!-- /.container-fluid -->
</header>

</div>
<section class="container text-center">
  <div class="error">
    <% if (errors) { %>
    <% errors.forEach(function (error) { %>
    <%= __(error) %>
    <% }) %>
    <% } %>
  </div>

  <div class="raw">
    <div class="col-sm-4">
      <form role="form" action="/auth/local" method="post">
        <input type="text" name="identifier" class="form-control" placeholder="Username or Email">
        <br>
        <input type="password" name="password" class="form-control" placeholder="Password">
        <br>
        <button class="btn-link" type="submit">Sign in</button>
      </form>
    </div>
    <div class="col-sm-4">or</div>
    <div class="col-sm-4">
      <% if (Object.keys(providers).length) { %>
      <% Object.keys(providers).forEach(function (key) { %>
      <% if(providers[key].name) { %>
      <a href="/auth/<%= providers[key].slug %>"
         target="_top"><img src="/images/<%= providers[key].name %>.png" alt="<%= providers[key].name %>"
                            class="img-rounded login-img"></a>
      <% } %>
      <% }) %>
      <% } %>
    </div>
  </div>
</section>

<footer class="footer panel-footer">
  <div class="container">
    <img class="foologo" src="" alt=""/>
    <p>Site is powered by Konstantin Mironchik. All rigths reserved.</p>
  </div>
</footer>




