<header class="header modal-header navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social Chat</a>
      <a class="navbar-brand" href="/login">Sign In</a>
    </div>

  </div><!-- /.container-fluid -->
</header>
<section class="container text-center">
  <% if (errors) { %>
  <% errors.forEach(function (error) { %>
  <%= __(error) %>
  <% }) %>
  <% } %>

  <form role="form" action="/auth/local/register" method="post">
    <input type="text" class="form-control" name="username" placeholder="Username"/>
    <br>
    <input type="text" class="form-control" name="email" placeholder="Email"/>
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password"/>
    <br>
    <button class="btn-link" type="submit">Sign up</button>
  </form>
</section>
<footer class="footer panel-footer">
  <div class="container">
    <img class="foologo" src="" alt=""/>
    <p>Site is powered by Konstantin Mironchik. All rigths reserved.</p>
  </div>
</footer>
