<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social Chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div><!-- /.container-fluid -->
</header>
<section class="">
  <div class="main">
    <div class="row">
      <div class="col-sm-4"><img src="/images/404-err.png" width="256" alt="404"/></div>
      <div class="col-sm-6"><h1>
          Oops....
        </h1>
        <h2>
          <% if (typeof error !== 'undefined') { %>
          <%= error %>
          <% } else { %>
          The page you were trying to reach doesn't exist.
          <% } %>
        </h2>
        <p class="help">
          <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <img class="foologo" src="" alt=""/>
    <p>Site is powered by Konstantin Mironchik. All rigths reserved.</p>
  </div>
</footer>

