<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Social Chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div><!-- /.container-fluid -->
</header>
<section class="container">
  <div class="main">
    <h1>
      Something's fishy here.
    </h1>
    <h2>
      <% if (typeof error!== 'undefined') { %>
      <%= error %>
      <% } else { %>
      The page you were trying to reach doesn't exist.
      <% } %>
    </h2>
    <p class="help">
      <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
    </p>
  </div>
</section>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <img class="foologo" src="" alt=""/>
    <p>Site is powered by Konstantin Mironchik. All rigths reserved.</p>
  </div>
</footer>

