<header class="header modal-header navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Social Chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>
<section class="container">
  <div class="row" ng-controller="ChatCtrl">
    <div class=" col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
      <div class="panel-heading">Chat</div>
      <div>
        <div class="input-group">
          <input id="messageInput" type="text" class="form-control" ng-enter="sendData()" ng-model="messageTxt">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="sendData()">
                      <span class="glyphicon glyphicon-envelope"></span></button>
                  </span>
        </div>
      </div>
      <br/>

      <div>
        <ul ng-cloak class="list-group">
          <li class="list-group-item" ng-repeat="message in messageArr">
            <span>{{message.createdAt | date:"MM.dd.yyyy h:mma"}}</span>
            <a style="display:block;float:right;" id="thumb" href="{{message.user.profileUrl}}"
               target="_blank"
               tooltip-placement="left"
               tooltip="{{message.user.name.givenName + ' ' + message.user.name.familyName}}">
              <img style="width:50px;height:auto" ng-src="{{message.user.photos[0].value}}"
                   class="img-circle img-responsive">
            </a>
            <br>
            <kbd style="padding-right: 50px;">{{message.message}}</kbd>

            <div style="clear: both;"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<script src='/chat/js/sails.io.js'></script>
<script src='/chat/js/angular.js'></script>
<script src='/chat/js/controller.js'></script>

