<!DOCTYPE html>
<!-- saved from url=(0094)http://svn.apache.org/viewvc/tomcat/tc7.0.x/trunk/webapps/examples/websocket/chat.html?view=co -->
<html ng-app="ChatApp">
<head>
  <title>Enter to Chat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body class="container">
<header>
  <img class="logo" src="" alt=""/>

  <h1 style="text-align: center;">Social Chat</h1>
</header>
<section ng-controller="ChatController">
  <div class="row marketing">
    <div class="col-sm-10">
      <div class="panel-heading">Chat</div>
      <div>
        <div class="input-group">
          <input id="messageInput" type="text" class="form-control" ng-enter="sendData()" ng-model="messageTxt">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="sendData()">
                      <span class="glyphicon glyphicon-envelope"></span></button>
                  </span>
        </div>
      </div>
      <br/>

      <div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="message in messageArr">
            <a style="display:block;float:right;" id="thumb" href="http://{{message.user.profileUrl}}"
               target="_blank"
               tooltip-placement="left"
               tooltip="{{message.user.name.givenName + ' ' + message.user.name.familyName}}">
              <img style="width:50px;height:auto" ng-src="{{message.user.photos[0].value}}"
                   class="img-circle img-responsive">
            </a>

            <p style="padding-right: 50px;">{{message.text}}</p>

            <div style="clear: both;"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="modal-footer">
    <img class="foologo" src="" alt=""/>
    <p>Site is powered by Konstantin Mironchik. All rigths reserved.</p>
</footer>
</body>
<script src='/chat/js/sails.io.js'></script>
<script src='/chat/js/angular.js'></script>
<script src='/chat/js/controller.js'></script>
</html>
