body {
  padding-top: 70px;
}

.login-img {
  width: 64px;
  height: 64px;
}
.auth-block {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 767px) {
  .login-img {
    width: 32px;
    height: 32px;
  }
}
