body {
  margin:0;
  padding:0;
}

footer {
  margin-top: 20px;
}

header {
  margin-bottom: 20px;
}

.login-img {
  width: 64px;
  height: 64px;
}
.auth-block {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 767px) {

}
